version: '3.8'

services:
  file-sharing-api-server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: file-sharing-api-server
    ports:
      - $PORT:$PORT
    env_file:
      - .env
    volumes:
      - ./uploads:/app/uploads
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  uploads:
