version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: file-share-app
    ports:
      - $PORT:$PORT
    env_file:
      - .env
    volumes:
      - ./uploads:/app/uploads
      - ./logs:/app/logs
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  uploads:
  logs:
